
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBackoffice.cshtml";

    string user = ViewBag.User ?? string.Empty;
    int isLoggedNuber = ViewBag.IsLogged == true ? 1 : 0;
    int isAdminRoleNumber = ViewBag.IsAdminRole == true ? 1 : 0;
}

<script type="text/javascript">
    __globalJsData.user = '@(Html.Raw(user))';
    __globalJsData.isLogged = @isLoggedNuber;
    __globalJsData.isAdminRole = @isAdminRoleNumber;
</script>

<div id="ol-controller" class="ol-dashboard" data-controller="dashboardPage">
    <div id="js-backoffice"></div>
</div>
