@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string errorMessage = ViewBag.ErrorMessage ?? string.Empty;
    string successMessage = ViewBag.SuccessMessage ?? string.Empty;

    string user = ViewBag.User ?? string.Empty;
    int isLoggedNuber = ViewBag.IsLogged == true ? 1 : 0;
    int isAdminRoleNumber = ViewBag.IsAdminRole == true ? 1 : 0;
}

<script type="text/javascript">
    __globalJsData.successMessage = '@successMessage';
    __globalJsData.errorMessage = '@errorMessage';

    __globalJsData.user = '@(Html.Raw(user))';
    __globalJsData.isLogged = @isLoggedNuber;
    __globalJsData.isAdminRole = @isAdminRoleNumber;
</script>

<div id="ol-controller" class="ol-dashboard-frontend" data-controller="dashboardPageFrontend">
    <div id="js-frontend"></div>
</div>
