
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-danger text-center">
        <h1>FORBIDDEN!</h1>
        <h3>You do not have enough rights to access the requested page!</h3>
        <hr />
        <a href="/" class="btn btn-danger">Go Home</a>
    </div>
</div>