
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2>Email Confirmed!</h2>
        <hr />
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Go Home</a>
    </div>
</div>

