.card-btn {
    display: flex;
    flex-direction: row-reverse;
}
.chkbx {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ql-container {
    height: inherit !important;
    min-height: 150px !important;
}